:root{
    font-size: 24px;
}

body{
    background-image: url('images/image.png');
    background-size: cover;
}

#container{
    width: 900px;
    height: 700px;
    border-radius: 20px;
}

.containerLoc1{
    position: absolute;
    top: 55%;
    left: 55%;
    transform:translate(-50%,-50%);
    background-color: black;
    opacity: 0.8;
}

.containerLoc2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    opacity: 1;
}

.hidden{
    display:none;
}

.btn{
    border-radius: 16px;
    padding: 21px 29px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn>i{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#previous{
    padding:17px 0px 17px 5px;
    border-radius:100px;
    width:65px;
}

#oneens{
    background-color: red;
    margin-right: 70px;
}

#eens{
    background-color: green;
    margin-left: 10px;
}

#geenVanBeide, #skip, #previous{
    background-color: #9E9E9E;
    color: black;
}

.bottom{
    position: relative;
    top: 87%;
}

#startCont{
    position: absolute;
    top: 34%;
    left: 44%;
    transform:translate(-50%,-50%);
    width: 530px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    z-index: 2;
    padding: 70px;
}

#startbtn{
    position: absolute;
    top: 70%;
    width: 100px;
    height: 60px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

#startCont>h1{
    font-size:1.5rem;
}

#startCont>h1>a{
    color:blue;
}

