:root{
    font-size:24px;
}

body{
    background-image: url('images/image.png');
    background-size: cover;
}

#container{
    position:absolute;
    top:55%;
    left:55%;
    transform:translate(-50%,-50%);
    width: 900px;
    height: 700px;
    background-color: black;
    border-radius: 20px;
    opacity:0.8;
}

#start{
    position:absolute;
    top:34%;
    left:44%;
    transform:translate(-50%,-50%);
    width: 530px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    z-index:2;
    padding:70px;
}

#startbtn{
    position:absolute;
    top:70%;
    width:100px;
    height:60px;
    background-color:blue;
    color:white;
    border-radius:10px;
    border:none;
    font-size:1rem;
}

#start>h1{
    font-size:1.5rem;
}

#start>h1>a{
    color:blue;
}

